:host {
    margin-top: 100px;
    display: block;
    margin-bottom: 50px;
}

.boards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    iframe {
        width: 45%;
        min-height: 600px;
        min-width: 500px;
        margin: 0 10px;
    }
}

button {
    margin: auto;
    display: block;
    font-size: 25px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    iframe {
        width: 90% !important;
        min-width: 350px !important;
        min-height: 450px !important;
    }

    :host {
        margin-top: 50px !important;
    }
  }